<%

function getIngredientsArray(pizza) {
    //Отримує вміст піци
    var content = pizza.content;
    var result = [];

    //Object.keys повертає масив ключів в об’єкті JavaScript

    Object.keys(content).forEach(function(key){

        //a.concat(b) створює спільний масив із масивів a та b
        result = result.concat(content[key]);
    });

    return result;
}

   %>


<!--<div class="col-md-6 col-lg-4 pizza-card">-->
    <!--<div class="thumbnail">-->
        <!--<img class="pizza-icon" src="<%= pizza.icon %>" alt="Pizza">-->

        <!--<% if(pizza.is_new) { %>-->
        <!--<span class="label label-danger">Нова</span>-->
        <!--<% } else if(pizza.is_popular) {%>-->
        <!--<span class="label label-success">Популярна</span>-->
        <!--<% } %>-->

        <!--<div class="caption">-->
            <!--<span class="title"><%= pizza.title %></span>-->
            <!--<div class="type"><%= pizza.type %></div>-->
            <!--<div class="description">-->
                <!--<%= getIngredientsArray(pizza).join(", ") %>-->
            <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash; Перед тим щоб показати кнопку необхідно переконатися, що піца має великий розмір &ndash;&gt;-->
        <!--<button class="btn btn-primary buy-big">Купити велику</button>-->
    <!--</div>-->
<!--</div>-->

<div class="col-sm-12 col-md-6 col-lg-4">
    <div class="thumbnail pizza-card">
        <% if(pizza.is_new) { %>
            <span class="label label-danger new"><b>Нова</b></span>
        <% } else if(pizza.is_popular) {%>
            <span class="label label-success popular"><b>Популярна</b></span>
        <% } %>


        <img src="<%= pizza.icon %>">

        <div class="caption"><h3><b><%= pizza.title %></b></h3>

            <p>
                <span class ="pizza-type">
                    <%= pizza.type %>
                </span>
                <br>
                <span class ="pizza-description">
                    <%= getIngredientsArray(pizza).join(", ") %>
                </span>
            </p>


            <p>

            <div class="row">
                <% if (pizza.big_size != null && pizza.small_size != null) { %>
                <div class="col-xs-12 col-sm-6 left">
                    <div class="small-pizza">
                        <div class="pizza-size">
                            <img src="assets/images/size-icon.svg">
                            <span class="radius"> <%= pizza.small_size.size %></spaN>
                            <br>
                            <img src="assets/images/weight.svg">
                            <span class="weight"> <%= pizza.small_size.weight %></span>
                        </div>

                        <div class="pizza-price">
                            <div class="price">
                                <b><%= pizza.small_size.price %></b>
                            </div>
                            <div class="value">
                                <b>грн.</b>
                            </div>
                        </div>

                        <div class="buy-small">
                            <a href="#" class="btn btn-warning">Купити</a>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 right">
                    <div class="small-pizza">
                        <div class="pizza-size">
                            <img src="assets/images/size-icon.svg">
                            <span class="radius"><%= pizza.big_size.size %></spaN>
                            <br>
                            <img src="assets/images/weight.svg">
                            <span class="weight"><%= pizza.big_size.weight %></span>
                        </div>

                        <div class="pizza-price">
                            <div class="price">
                                <b><%= pizza.big_size.price %></b>
                            </div>
                            <div class="value">
                                <b>грн.</b>
                            </div>
                        </div>

                        <div class="buy-big">
                            <a href="#" class="btn btn-warning">Купити</a>
                        </div>
                    </div>
                </div>
                <%} %>

                <% if (pizza.big_size != null && pizza.small_size == null) { %>
                <div class="col-xs-12 col-sm-12 right">
                    <div class="small-pizza">
                        <div class="pizza-size">
                            <img src="assets/images/size-icon.svg">
                            <span class="radius"><%= pizza.big_size.size %></spaN>
                            <br>
                            <img src="assets/images/weight.svg">
                            <span class="weight"><%= pizza.big_size.weight %></span>
                        </div>

                        <div class="pizza-price">
                            <div class="price">
                                <b><%= pizza.big_size.price %></b>
                            </div>
                            <div class="value">
                                <b>грн.</b>
                            </div>
                        </div>

                        <div class="buy-big">
                            <a href="#" class="btn btn-warning">Купити</a>
                        </div>
                    </div>
                </div>
                <%} %>

                <% if (pizza.big_size == null && pizza.small_size != null) { %>
                <div class="col-xs-12 col-sm-12 right">
                    <div class="small-pizza">
                        <div class="pizza-size">
                            <img src="assets/images/size-icon.svg">
                            <span class="radius"><%= pizza.small_size.size %></spaN>
                            <br>
                            <img src="assets/images/weight.svg">
                            <span class="weight"><%= pizza.small_size.weight %></span>
                        </div>

                        <div class="pizza-price">
                            <div class="price">
                                <b><%= pizza.small_size.price %></b>
                            </div>
                            <div class="value">
                                <b>грн.</b>
                            </div>
                        </div>

                        <div class="buy-small">
                            <a href="#" class="btn btn-warning">Купити</a>
                        </div>
                    </div>
                </div>
                <%} %>
            </div>

            </p>
        </div>
    </div>
</div>